/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: white;
  background-color: #0077b6;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.list a {
  text-decoration: none;
  color: #0077b6;
  font-size: 20px;
}

.links a:hover {
  font-weight: bolder;
  color: white;
}
